# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: autofix.ci
on:
  push: { branches: ["master"] }
  pull_request:
  workflow_call:
permissions: { contents: read }
jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: |
          bun run dprint config update &
          bun check --fix &
          wait
      - run: bun fmt --allow-no-files --diff --excludes ".github"

      - uses: autofix-ci/action@v1
